
body{
  background-color: #25252a;
  color: #fff;
  font-family: "Manjari", sans-serif;
  /*buttons*/
  .custom-btn {
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-15 {
    background: #cd7bfc;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #7f4c9b;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.5s ease;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  /*fonts*/

  .manjari-thin {
    font-family: "Manjari", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .manjari-regular {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .manjari-bold {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}

.container{
  max-width: 1075px;
}

.card{
  background-color: #25252a;
  color: white;
  border: none;
}
.card-header{
  border: none;
}