.playerProfile{
   display: flex;
   .profileicon{
      height: 200px;
   }
   .items{
      display: flex;
      padding: 20px 0 20px 0;
   }
   .kds{
      display: flex;
   }
   .participant{
      margin: 80px 0px 80px 0;
      width: 400px;
   }
   .right{
      margin-left: 10rem;
   }
   .basic-profile-info{
      .level{
         margin-top: 10px;
      }
   }

}